<div class="article-wrapper">
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
      <div id="slack">
        <img src="<%- url_for('assets') %>/slack.png" alt="slack">
        <span id="join-slack">Join our <span class="bold">Slack</span> community! Exchange knowledge, ask questions, get feedback!</span>
        <span id="join-slack-short">Join our <span class="bold">Slack</span> community!</span>
        <a class="slack-link" target="_blank" href="https://join.slack.com/t/angular-academy/shared_invite/enQtNDY1MjczMDA3ODEzLWQ4MTc5YjY1ZTkyOTIxMzE0Yzc0NTIzOGRjZjI1OWQ5Nzk1MmJhZTgyNThmNTJjMGExZGNkMDY1M2U4OTc4YTA">Join Slack</a>
      </div>
      <div class="article-inner">
        <%- partial('post/gallery') %>
        <% if (post.link || post.title){ %>
          <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
          </header>
        <% } %>
        <div class="article-meta">
          <img src="<%- url_for('assets') %>/<%- post.avatar %>" class="article-avatar" alt="avatar">
          <div class="article-author">
            <%- post.author %>
          </div>
          <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
          <%- partial('post/tag') %>
        </div>
        <div class="article-entry" itemprop="articleBody">
          <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link){ %>
              <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
              </p>
            <% } %>
          <% } else { %>
            <%- post.content %>
          <% } %>
        </div>
        <footer class="article-footer">
          <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
          <% if (post.comments && config.disqus_shortname){ %>
            <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
          <% } %>
          <%- partial('post/tag') %>
        </footer>
      </div>
      <% if (!index){ %>
        <%- partial('post/nav') %>
      <% } %>
    </article>

    <%- partial('share') %>
</div>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>