<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
  <%- partial('_partial/sidebar') %>
  <% } %>
  <div id="footer-info">
    <span>&copy;
      <%= date(new Date(), 'YYYY') %>
      <%= config.title %></span>
    <a href="<%- url_for('terms') %>">Terms and Conditions</a>
    <a href="<%- url_for('privacy') %>">Privacy Policy</a>
  </div>
</footer>