<header id="header">
    <div id="header-title">
      <img src="/assets/logo.png" alt="logo" id="logo-image">
      <img src="/assets/logo-mobile.png" alt="logo" id="logo-image-mobile">
      <a href="<%- url_for('/') %>" id="logo-text">Angular Academy</a>
    </div>
    <div id="header-menu">
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
        <% for (var i in theme.highlighted){ %>
          <a class="main-nav-link highlight" href="<%- url_for(theme.highlighted[i]) %>"><%= i %></a>
        <% } %>
        <a id="main-nav-toggle" class="nav-icon"></a>
      </nav>
    </div>
</header>
<div id="slack">
  <img src="/assets/slack.png" alt="slack">
  <span id="join-slack">Join our <span class="bold">Slack</span> community! Exchange knowledge, ask questions, get feedback!</span>
  <span id="join-slack-short">Join our <span class="bold">Slack</span> community!</span>
  <a class="slack-link" target="_blank" href="https://join.slack.com/t/angular-academy/shared_invite/enQtNDY1MjczMDA3ODEzLWQ4MTc5YjY1ZTkyOTIxMzE0Yzc0NTIzOGRjZjI1OWQ5Nzk1MmJhZTgyNThmNTJjMGExZGNkMDY1M2U4OTc4YTA">Join Slack</a>
</div>