<% if (!hide){ %>
<header id="header">
    <div id="header-title">
      <a href="<%- url_for('/') %>"><img src="<%- url_for('assets') %>/logo.png" alt="logo" id="logo-image"></a>
      <a href="<%- url_for('/') %>"><img src="<%- url_for('assets') %>/logo-mobile.png" alt="logo" id="logo-image-mobile"></a>
      <a href="<%- url_for('/') %>" id="logo-text">Angular Academy</a>
    </div>
    <div id="header-menu">
      <nav id="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
        <% for (var i in theme.highlighted){ %>
          <a class="main-nav-link highlight" href="<%- url_for(theme.highlighted[i]) %>"><%= i %></a>
        <% } %>
        <a id="main-nav-toggle" class="nav-icon"></a>
      </nav>
    </div>
</header>
<% } %>