<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
    <%- partial('_partial/header', {hide: page.source === 'security/index.html'}, {cache: !config.relative_link}) %>
    <div id="wrap" <% if (is_home() || page.source === 'security/index.html') { %> class="no-margin-left" <% } %>>
      <div id="content">
        <% if (!(is_home() || page.source === 'security/index.html')) { %>
          <div id="slack">
            <img src="<%- url_for('assets') %>/slack.png" alt="slack">
            <span id="join-slack">Join our <span class="bold">Slack</span> community! Exchange knowledge, ask questions, get feedback!</span>
            <span id="join-slack-short">Join our <span class="bold">Slack</span> community!</span>
            <a class="slack-link" target="_blank" href="https://join.slack.com/t/angular-academy/shared_invite/enQtNDY1MjczMDA3ODEzLWRlYzhjMTgwMTJkN2M2MTAxNzcyMGY1MTVhYjZjMDc0NGE0YzI4YjA5NDMwY2IxYmQ2MWJiNTM1NGU0OTA4NDE">Join Slack</a>
          </div>
        <% } %>
        <div class="outer<% if (is_home()) { %> home<% } %>">
            <section><%- body %></section>
          </div>
      </div>
      <% if (!(is_home() || page.source === 'security/index.html')) { %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
      <% if (!(page.source === 'security/index.html')) { %>
        <%- partial('_partial/subscription', null, {cache: !config.relative_link}) %>
      <% } %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>