<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
    <% if (!(page.source === 'security/index.html')) { %>
      <%- partial('_partial/header', {cache: !config.relative_link}) %>
    <% } %>
    <div id="wrap" <% if (is_home() || page.source === 'security/index.html') { %> class="no-margin-left" <% } %>>
      <div id="content">
        <% if (!(is_home() || page.source === 'security/index.html')) { %>
          <div id="slack">
            <div>
              <div id="join-slack">📢 Join <span class="bold">Angular Enterprise Security Academy</span></div>
              <div id="join-subtitle">🔑 Learn how to secure Angular and Node applications!</div>
            </div>
            <a class="slack-link" target="_blank" href="/security">Join</a>
          </div>
        <% } %>
        <div class="outer<% if (is_home()) { %> home<% } %>">
            <section><%- body %></section>
          </div>
      </div>
      <% if (!(is_home() || page.source === 'security/index.html')) { %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
      <% if (!(page.source === 'security/index.html')) { %>
        <%- partial('_partial/subscription', null, {cache: !config.relative_link}) %>
      <% } %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>